	body{
	margin:0;
	font-family: 'Cabin', sans-serif;
	}
	.main_container{
	}
	 

	.home_main_container{
		padding: 100px 0;
		margin: 0 80px 0px 80px;
	}
	.home_container{
		
	display: flex;
		
	justify-content: space-between;
	}
	.home_left{
    width: 50%;
}
	.home_main_container .main_text{
		font-size: 50px;
		font-weight: 700;
		line-height: 60px;
		width: 420px;
	} 
	.home_main_container .main_text span{
		color: #32d2b2;
	}
	.home_main_container .sub_text{
		width: 400px;
		line-height: 24px;
		margin: 30px 0 35px 0;
		font-size: 20px;
	}
	.home_main_container .main_btn {
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 600;
		width: 560px;
	}
	.home_main_container .main_btn a{
		text-decoration: none;
		padding: 10px 14%;
		border-radius: 25px;
	}
	.home_main_container .main_btn .primary{
		background: #34d3b3;
		color: #fff !important;
		border: 1px solid #34d3b3;
	}
	.home_main_container .main_btn .secondary{
		border: 1px solid #1b50e0;
		background: #e9fbf7;
		color: #000 !important;
	}
	.home_main_container .main_btn .secondary i{}
  
	/*Why Container*/
	.why_container{
		box-shadow: 0px 0px 17px 1px #1b50e038;
		border-radius: 20px;
		padding: 30px 60px;
		margin: 0 145px 100px 145px;
	}
		.why_heading{
		font-size: 40px;
		text-align: center;
		font-weight: 600;
	}
		.why_reason_container{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 35px 0 35px 0;
		padding: 0 50px;
	}
		.why_reason{
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 18%;
	}
		.why_icon{
		font-size: 40px;
		background: #eef2fd;
		padding: 30px;
		border-radius: 56px;
	}

		.why_icon i{}
		.why_answer{
		font-size: 22px;
		font-weight: 600;
		text-align: center;
		line-height: 25px;
		margin-top: 15px;
	}


	/*Placement Companies*/
	.place_container{
		background: #0c2343;
		padding: 50px 0 60px 0;
	}
		.place_title{
		font-size: 40px;
		color: #fff;
		text-align: center;
		font-weight: 600;
	}
		.place_title span{
		color: #34d3b3;
	}
		.place_compaies{
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		margin: 50px 50px 60px 50px;
	}
		.place_compaies img{
		width: 125px;
	}
		.place_more{
		text-align: center;
		margin-bottom: 10px;
	}
		.place_more a{
		color: #0c2343;
		text-decoration: none;
		padding: 10px 85px;
		background: #34d3b3;
		font-weight: 600;
		font-size: 25px;
		border-radius: 25px;
	}



	/* recomm course*/ 

		.rec_co_container{}
		.rec_co_title{
		font-size: 40px;
		font-weight: 600;
		padding: 50px 0px 50px 200px;
		display: flex;
		align-items: baseline;
		justify-content: space-evenly;
	}
		.rec_co_title .icon{padding: 11px; box-shadow: 1px 1px 5px 2px #c6d3f77d;border-radius: 45px;}
		.rec_co_title svg{
		color: #1b50e0;
		width: 24px;
		height: 24px; 
	}
		.rec_co_card_container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding: 0 100px;
		}
		.rec_co_card{
		display: flex;
		flex-direction: column;
		width: 28%;
		border: 1px solid #525252;
		border-radius: 10px;
		margin-bottom: 35px;
	}
		.rec_co_card img{margin: 10px;}
		.rec_co_name{
		font-size: 22px;
		line-height: 22px;
		font-weight: 600;
		margin: 0 10px;
	}
		.rec_co_review{
		font-size: 14px;
		margin: 15px 0px 5px 10px;
	}
		.rec_co_review i{
		color: #ffb100;
		margin-right: 3px;
	}
		.rec_co_review i.grey{
		color: #b9b9b9;
	}
		.rec_co_review span{
		color: #898989;
		font-size: 12px;
		margin-left: 8px;
	}
		.rec_co_details, .tre_pro_details{
		display: flex;
		flex-direction: column;
		margin: 10px;
		color: #5a5a5a;
	}
		.rec_co_details svg ,.tre_pro_details svg{width: 14px;height: 20px;margin-right: 10px;} 
		.rec_co_content, .tre_pro_content{display: flex;align-items: center;font-size: 12px;margin-bottom: 0px;}
		.rec_co_placement{}
		.rec_co_companies{
		padding: 10px;
		border-top: 1px solid #ccc;
	}
		.rec_co_sub_text{
		font-size: 8px;
	}
		.rec_co_comp_logo{
		display: flex;
		align-items: center;
		color: #8d8d8d;
		margin: 10px 0 20px 0;
	}
		.rec_co_comp_logo img{
		width: 75px;
		margin: 0 5px 0 0;
	}
		.rec_co_comp_logo span{
		font-size: 10px;
	}
		.rec_co_know_more{
		text-align: center;
		background: #0c2343;
		border-radius: 4px;
		padding: 5px 0;
	}
		.rec_co_know_more a{
		padding: 0 32%;
		text-decoration: none;
		color: #fff;
		white-space: nowrap;
	}
	.rec_co_view_all{
		text-align: center;
		margin: 50px 0 80px 0;
	}
	.rec_co_view_all a{
		color: #fff !important;
		text-decoration: none;
		padding: 10px 85px;
		background: #0c2343;
		font-weight: 600;
		font-size: 25px;
		border-radius: 25px;
	}







		.tre_pro_container{
		background: #0c2343;
		padding: 50px 0;
		margin-bottom: 100px;
	}
		.tre_pro_title{
		font-size: 40px;
		color: #fff;
		text-align: center;
		font-weight: 600;
		padding: 0 0 50px 0;
	}
		.tre_pro_title svg{
		color: #34d3b3;
	}
		.tre_pro_card_container{display: flex;flex-wrap: wrap;justify-content: space-evenly;padding: 0 100px;}
		.tre_pro_card{
		display: flex;
		flex-direction: column;
		width: 28%;
		border: 1px solid #525252;
		border-radius: 5px;
		margin-bottom: 30px;
		background: #fff;
	}
		.tre_pro_name{
		margin: 8px 15px;
		font-weight: 500;
	}
		.tre_pro_desc{
		margin: 0 15px 15px 15px;
		font-size: 12px;
		color: #898989;
		line-height: 16px;
	}
		.tre_pro_content_container{
		padding: 10px 15px 15px 15px;
		border-top: 1px solid #ccc;
	}
		.tre_pro_tag{
		font-size: 14px;
		color: #898989;
	}
		.tre_pro_tag_list{
		display: flex;
		align-items: center;
		margin: 10px 0;
	}

	.tre_pro_tag_list span{
		font-weight: 500;
		border-radius: 3px;
		margin-right: 10px;
		padding: 2px 5px;
		font-size: 12px;
	}
		.tre_pro_details{
			margin: 15px 0 0 0 !important;
		}
		.tre_pro_tag_list span:first-child{
		background: #34d3b3;

	}
		.tre_pro_tag_list span:last-child{
		background: #f7e484;
	}
		.tre_pro_know_more.secondary{background: #fbfbfb;border: 1px solid #0c2343;margin: 20px 0 10px 0;}
		.tre_pro_know_more.secondary a{
		color: #0c2343;
	}
		.tre_pro_know_more{ text-align: center;
		background: #0c2343;
		border-radius: 4px;
		padding: 5px 0;}
		.tre_pro_know_more a{
				padding: 0 32%;
				text-decoration: none;
				color: #fff;
				white-space: nowrap;
				font-weight: 500;
		}
		.tre_pro_view_all{

	text-align: center;

	margin: 40px 0 10px 0;
		}
		 .tre_pro_view_all a{
		color: #0c2343;
		text-decoration: none;
		padding: 10px 85px;
		background: #34d3b3;
		font-weight: 600;
		font-size: 25px;
		border-radius: 25px;
	}




	.review_container{
		margin: 50px 120px 0 120px;
		display: flex;
		justify-content: space-between;
	}
		.review_left_container{
		width: 50%;
		padding: 0 25px;
	}
		.review_title{
		font-size: 40px;
		font-weight: 700;
		line-height: 40px;
		width: 360px;
	}
		.review_sub_title{
		margin: 40px 0px 50px 0;
		font-size: 20px;
		font-weight: 500;
		line-height: 25px;
		width: 500px;
	}
		.review_read_more{}
		.review_read_more a{
		padding: 10px 35px;
		border-radius: 25px;
		background: #34d3b3;
		text-decoration: none;
		color: #fff !important;
		font-weight: 600;
	}
		.review_right_container{
		width: 50%;
		padding: 0 25px 0 7px;
		display: flex;
		justify-content: flex-end;
		flex-direction: column;
		align-items: flex-end;
	}
		.review_card{
		box-shadow: 2px 2px 14px 0px #1b50e038;
		border-radius: 10px;
		padding: 20px;
		margin: 0 0px 50px 0;
		width: 70%;
	}
		.review_name_container{
		display: flex;
		justify-content: space-between;
	}
		.review_top_container{
		display: flex;
		align-items: center;
	}
		.review_name{}
		.review_name img{
		width: 50px;
		border-radius: 5px;
	}
		.review_reviewer_container{
		margin-left: 10px;
	}
		.review_reviewer{
		font-weight: 500;
	}
		.review_reviewer_position{
		font-size: 12px;
		color: #919090;
	}
		.review_company{}
		.review_company img{
		width: 40px;
	}
		.review_review{
		padding: 20px 0;
		color: #919090;
		font-size: 15px;
		line-height: 20px;
	}
		.review_social_container{}
		.review_social_small{
		font-size: 12px;
		color: #c3c3c3;
	}
		.review_social{
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-top: 5px;
	}
		.review_media{}
		.review_media img{
		width: 30px;
		object-fit: fill;
		height: 30px;
	}
		.review_stars{}
		.review_stars i{
		color: #ffb100;
	}
		.review_stars i.grey{
		color: #b9b9b9;
	}



	.news_container{
    margin-bottom: 50px;
}
		.news_title{
		font-size: 40px;
		font-weight: 600;
		padding: 50px 0px 50px 0px;
		display: flex;
		align-items: baseline;
		justify-content: space-evenly;
	}
		.news_card_container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		padding: 0 100px;
	}
		.news_card{
		display: flex;
		flex-direction: column;
		/* width: 28%; */
		border-radius: 5px;
		margin-bottom: 30px;
		box-shadow: 2px 2px 14px 0px #1b50e038;
		padding: 20px;
	}
		.news_heading{
		font-size: 20px;
		font-weight: 500;
		line-height: 24px;
		color: #000;
	}
		.news_description{
		font-size: 14px;
		margin: 10px 0;
		color: #919090;
		line-height: 20px;
	}
		.news_media_logo{
		text-align: center;
		margin-top: 20px;
	}
		.news_media_logo img{
		width: 100%;
	}
	
	.news_card_container a{
    width: 28%;
    text-decoration: none;
}


.review_title img{
	width:33px;
}

/*hover*/
.head_login a:hover , .rec_co_know_more a:hover,.tre_pro_know_morea:hover{
color:#fff;	
}
.place_more a:hover , .tre_pro_view_alla:hover {
color: #0c2343;
}